@import url(./fonts.css);
@import url(./grid-s.css);

header {
  display: flex;
  width: 1440px;
  padding: 16px 80px;
  align-items: center;
  gap: 24px;
  border-bottom: 1px solid var(--CoolGray-20, #dde1e6);
  background: var(--Default-White, #fff);

  .logo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    flex: 1 0 0;

    img {
      display: flex;
      align-items: flex-start;
      gap: 4px;
    }
  }

  .links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;

    li {
      display: flex;
      padding: 12px 8px;
      align-items: center;
      gap: 8px;

      a {
        color: #455a64;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 100%;
      }

      .dropdown-menu {
        display: flex;
        width: 135px;
        padding: 1px 0px;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        right: 632px;
        top: -21px;
        border-radius: 8px;
        background: #fff;
        box-shadow: 2px 0px 10px 0px rgba(0, 0, 0, 0.25);

        a {
          color: #000;
          font-family: Roboto;
          font-size: 11px;
          font-style: normal;
          font-weight: 400;
          line-height: 100%;
        }
      }
    }
  }

  .buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
    flex: 1 0 0;

    .login {
      display: flex;
      height: 48px;
      padding: 16px 12px;
      justify-content: center;
      align-items: center;
      border: 2px solid #455a64;
      color: #455a64;
    }

    .signup {
      display: flex;
      height: 48px;
      padding: 16px 12px;
      justify-content: center;
      align-items: center;
      background: #455a64;
      color: #fff;
    }
  }
}

.hero-section {
  display: flex;
  height: 397px;
  padding: 80px;
  justify-content: space-between;
  align-items: center;
  background: #fff;

  .text-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;

    h1 {
      color: var(--CoolGray-90, #21272a);
      font-family: Roboto;
      font-size: 54px;
      font-style: normal;
      font-weight: 700;
      line-height: 110%;
    }

    p {
      color: var(--CoolGray-90, #21272a);
      font-family: Roboto;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 140%;
    }

    img {
      width: 583px;
      height: 333px;
    }
  }

  .bottons {
    display: flex;
    align-items: flex-start;

    .buy {
      display: flex;
      height: 56px;
      padding: 16px 56px;
      justify-content: center;
      align-items: center;
      background: #455a64;
      color: #fff;
      font-family: Roboto;
      font-size: 20px;
      font-weight: 500;
      line-height: 100%;
      letter-spacing: 0.5px;
    }

    .rent {
      display: flex;
      height: 56px;
      padding: 16px 56px;
      justify-content: center;
      align-items: center;
      background: rgba(223, 217, 217, 0.8);
      color: rgba(11, 11, 11, 0.7);
      font-family: Roboto;
      font-size: 20px;
      font-weight: 500;
      line-height: 100%;
      letter-spacing: 0.5px;
    }
  }
}

.about-us-section {
  display: flex;
  padding: 80px;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  align-self: stretch;
  border-bottom: 1px solid var(--CoolGray-20, #dde1e6);
  background: var(--Default-White, #fff);

  .text-group {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;

    h2 {
      color: var(--CoolGray-90, #21272a);
      text-align: center;
      font-family: Roboto;
      font-size: 42px;
      font-style: normal;
      font-weight: 700;
      line-height: 110%;
    }

    p {
      color: var(--CoolGray-90, #21272a);
      text-align: center;
      font-family: Roboto;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 140%;
    }
  }

  .row {
    display: flex;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;

    .item {
      display: flex;
      padding: 16px;
      flex-direction: column;
      align-items: center;
      gap: 16px;
      flex: 1 0 0;
      border: 1px solid var(--CoolGray-20, #dde1e6);
      background: var(--Default-White, #fff);

      .img {
        display: flex;
        width: 48px;
        height: 48px;
        justify-content: center;
        align-items: center;
        background: var(--CoolGray-20, #dde1e6);
      }

      h6 {
        color: var(--CoolGray-90, #21272a);
        font-family: Roboto;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 110%;
      }

      p {
        color: var(--CoolGray-60, #697077);
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
      }
    }
  }
}

.success-partners {
  display: flex;
  width: 1440px;
  padding: 80px 80px 32px 80px;
  flex-direction: column;
  align-items: center;
  gap: 48px;

  .text-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 48px;
    align-self: stretch;

    h6 {
      color: #313131;
      text-align: center;
      font-family: Roboto;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: 100%;
      letter-spacing: 1px;
      text-transform: uppercase;
    }

    h2 {
      color: var(--CoolGray-90, #21272a);
      text-align: center;
      font-family: Roboto;
      font-size: 42px;
      font-style: normal;
      font-weight: 700;
      line-height: 110%;
    }
  }
  .frame {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    align-self: stretch;

    article {
      display: flex;
      padding: 24px;
      flex-direction: column;
      align-items: center;
      gap: 16px;
      flex: 1 0 0;
      align-self: stretch;
      border: 1px solid var(--CoolGray-20, #dde1e6);
      background: var(--Default-White, #fff);

      .head {
        display: flex;
        height: 64px;
        align-items: center;
        gap: 8px;
      }

      .center {
        p {
          color: var(--CoolGray-90, #21272a);
          text-align: center;
          font-family: Roboto;
          font-size: 18px;
          font-weight: 400;
          line-height: 140%;
        }
      }

      .bottom {
        display: flex;
        padding-top: 16px;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        align-self: stretch;

        .icon {
          display: flex;
          width: 48px;
          height: 48px;
          justify-content: center;
          align-items: center;
          gap: 10px;
          border-radius: 100px;
          background: var(--CoolGray-10, #f2f4f8);
        }

        h6 {
          color: var(--CoolGray-90, #21272a);
          text-align: center;
          font-family: Roboto;
          font-size: 24px;
          font-style: normal;
          font-weight: 700;
          line-height: 110%;
        }

        p {
          color: var(--CoolGray-90, #21272a);
          text-align: center;
          font-family: Roboto;
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: 140%;
        }
      }
    }
  }
}
