@import url(./fonts.css);
@import url(./grid-s.css);

header {
  border-bottom: 1px solid #dde1e6;
  position: absolute;
  width: 100%;
  top: 0;
  background-color: #fff;

  .d-flex {
    height: 80px;
    align-items: center;
    justify-content: space-between;

    .ul {
      display: flex;
      gap: 22px;

      a {
        color: #455a6499;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 100%;
      }

      a:active {
        background: transparent;
        color: #455a64;
      }

      .Active {
        color: #455a64;
      }

      .dropdown-center button {
        padding: 0;
        line-height: 100%;
        background: transparent;
        color: #455a6499;
        border: 0;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
      }

      .dropdown-center button:active {
        color: #455a64;
      }

      .dropdown-center ul {
        min-width: 95px;
        padding: 10px;
        flex-direction: column;
        gap: 10px;
      }

      .dropdown-center .dropdown-menu.show {
        top: 5px;
        display: flex;
      }

      .dropdown-center ul li {
        width: 100%;
      }

      .dropdown-center ul li a {
        padding: 0;
        width: 100%;
      }
    }

    .links {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 16px;

      a {
        width: 115px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid #455a64;
        height: 48px;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        transition: all 0.3s;
      }

      a.log {
        color: #455a64;
      }

      a.log:hover {
        background-color: #455a64;
        color: #fff;
      }

      a.sign {
        color: #fff;
        background-color: #455a64;
      }

      a.sign:hover {
        background-color: transparent;
        color: #455a64;
      }
    }
  }
}

.btn-primary {
  padding: 2px;
  border: 2px solid #455a64;
  transition: all 0.3s;
  display: none;
  background-color: #455a64;
  border-radius: 6px;
}

.btn-primary:hover {
  background-color: transparent;
  border-color: #455a64;
}

.btn-primary:hover svg path {
  fill: #455a64;
}

.btn-primary svg {
  transition: all 0.3s;
}

.btn-primary svg path {
  transition: all 0.3s;
}

#offcanvasRight {
  width: 270px;
}

.btn-close {
  box-shadow: none;
}

header .offcanvas-body nav ul {
  flex-direction: column;
}

.offcanvas-body {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.btn-close:focus {
  box-shadow: none;
}

@media (max-width: 800px) {
  .btn-primary {
    display: flex;
  }

  header {
    .d-flex nav,
    .d-flex .links {
      display: none;
    }

    .offcanvas-body nav {
      display: block;
    }

    .offcanvas-body .links {
      display: flex;
    }
  }
}

.hero {
  padding: 112px 0 32px 0;

  .d-flex {
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;

    .item {
      display: flex;
      flex-direction: column;
      gap: 56px;
      max-width: 697px;

      .text {
        display: flex;
        flex-direction: column;
        gap: 24px;

        h1 {
          font-size: calc(30px + 1.5vw);
          font-weight: bold;
        }

        p {
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          font-size: calc(15px + 0.135vw);
        }
      }

      .links {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 360px;

        a {
          font-size: 20px;
          font-style: normal;
          font-weight: 500;
          height: 50px;
          width: 100%;
          max-width: 180px;
          min-width: 80px;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: all 0.3s;
        }

        a.buy {
          border: 2px solid #455a64;
          background-color: #455a64;
          color: #fff;
        }

        a.buy:hover {
          background-color: transparent;
          color: #455a64;
        }

        a.rent {
          background: #dfd9d9cc;
          color: #000000b3;
          border: 2px solid #dfd9d9cc;
        }

        a.rent:hover {
          background-color: transparent;
          border: 2px solid #000000b3;
        }
      }
    }

    .image {
      max-width: 583px;

      img {
        width: 100%;
      }
    }

    .col2 {
      max-width: 583px;
    }
  }
}

@media (max-width: 1015px) {
  .hero {
    .d-flex {
      flex-direction: column;
      gap: 50px;

      .item {
        align-items: center;
        text-align: center;
      }
    }
  }
}
